@import '../../global/index.scss';

.pg-messages{
	background-color: $primary-blacker;
	height: 100vh;
	display: flex;
	//justify-content: flex-end;

	&__list{
		display: flex;
		padding: 20px;
		flex-direction: column;
		width: 100%;
		height: calc(100vh - 130px);
		overflow: auto;
		margin-top: 40px;
	}

	&__actions{
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #fff;
		right: 0;
		height: 60px;
		padding: 10px 20px;
		box-sizing: border-box;
		display: flex;

		textarea{
			padding: 10px;
			border-radius: 5px;
			box-sizing: border-box;
			height: 100%;
			border: 1px solid $gray;
			resize: none;
			flex: 1;
		}

		button{
			margin-left: 10px;
			padding: 0 20px;
			color: #fff;

			div{
				width: 15px;
    			height: 15px;
    			border-width: 4px;
			}
		}
	}

	&__loader{
		align-items: center;
		margin: 50px auto 0;

	}
}