@import '../../../global/index.scss';

.cp-modal-room{
	min-width: 50vw;
	&__form{
		display: flex;
		flex-direction: column;
	}

	&__input-group{
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;

		textarea{
			height: 60px;
		}
	}

	&__input{
		border-radius: 5px;
		padding: 5px;
		border: 1px solid $gray;

		&.error{
			border-color: red;
		}
	}

	&__error{
		color: red;
		font-size: 12px;
	}

	button{
		padding: 10px 20px;

		&.delete{
			background-color: red;
			margin-top: 10px;
		}
	}
}