$gray: #545454;
$primary: #219ebc;
$primary-blacker: #023047;
$secondary: #fb8500;

$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px)';
$md: 'only screen and (min-width: 768px)';
$lg: 'only screen and (min-width: 992px)';
$xlg: 'only screen and (min-width: 1200px)';