@import './global/index.scss';

body{
	margin: 0;
	font-family: 'Arial';
}

p{ 
	margin: 0
}

button{
	border: 1px solid transparent;
	background-color: $secondary;
	border-radius: 5px;
	cursor: pointer;
	transition: .2;

	&:hover{
		background-color: lighten($secondary, 10%);
	}
}